  body {
    background-color: black;
    color: white;
    text-align: center;
  }
  div {
    font-family: 'Libre Baskerville', serif;
    justify-content: center;
    max-width: 100%;
    margin: 8%;
  }
  img {
    border: 3px solid white;
    width: 100%;
    max-width: 400px; 
  }
  h2 {
    text-transform: uppercase;
    justify-content: center;
    width: 100%;

  }
